@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@100&display=swap');

.donebtn{
    background-color:#ffaf08; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.deletebtn{
    background-color: #0064b3; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
body{
  background-color: #eca099;
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: auto;
}
input[type=text] {
    color:#eca099;
    width: 90%;
    padding: 20px 20px;
    border-radius: 4px;
    background-color: white;
    font-family:"Encode Sans SC" ;
  }
h1{
    font-family: "Encode Sans SC";
}  
li{
    font-family: "Encode Sans SC";
    color: white;
}
#addbtn{
    font-size: 30px;
    color: white;
}